<mat-drawer-container  autosize class="h-100" >
  <mat-drawer #drawer mode="over" class="drawer">
    <div class="m-1 d-flex ai-center" style="height: 15%;">
      <mat-icon>account_circle</mat-icon>
      <span class="p-1">Hello Guest</span>
    </div>
    <div class="m-1">
      <h3>Menu</h3>
    </div>
    <mat-nav-list>
      <mat-list-item *ngFor="let link of links" [activated]="link.isActive" (click)="routeTo(link);drawer.toggle();">
        <!-- <mat-icon>home</mat-icon> -->
        <a matListItemTitle class="d-flex ai-center"> <mat-icon>home</mat-icon> <span class="p-1">{{ link.label }}</span></a>
      </mat-list-item>
    </mat-nav-list>

  </mat-drawer>
  <mat-drawer-content class="d-flex fd-column">
    <mat-toolbar class="d-flex fd-row " color="primary">
      <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="title">{{appName}}</h1>
      <span class="flex-grow-1"></span>
      <button mat-icon-button  (click)="toggleTheme()" aria-label="Example icon-button with heart icon">
        <mat-icon *ngIf="!isDarkTheme">light_mode</mat-icon>
        <mat-icon *ngIf="isDarkTheme">dark_mode</mat-icon>
      </button>
    </mat-toolbar>
    <div class="flex-grow-1 m-1">
      <router-outlet></router-outlet>
      <app-bankdetail></app-bankdetail>
    </div>
    <footer class="d-flex jc-center m-1 ">
      <span >All rights reserved Ashuism@2023</span>
    </footer>
  </mat-drawer-content>
</mat-drawer-container>

